* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#ccccff 0 50%, #2255f8 50% 100%);
}

.container {
  width: 300px;
  height: 55px;
  background-color: white;
  padding-left: 20px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #00000022;
  transition: 2s ease-in-out;
  position: relative;
}

.container .links {
  margin-inline: 10px;
  text-decoration: none;
  color: gray;
  font-weight: 600;
  cursor: pointer;
  transition: 2s ease-in-out;
}

.btn {
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
}

.line1,
.line2 {
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: #2255f8;
  transition: 2s ease-in-out;
}

.line1 {
  transform: rotate(45deg);
}

.line2 {
  transform: rotate(-45deg);
}

.container.active {
  width: 57px;
}

.links.active {
  transform: rotateY(540deg);
  opacity: 0;
}

.line2.active {
  transform: rotateZ(720deg) translateY(4px);
}

.line1.active {
  transform: rotateZ(-720deg) translateY(-4px);
}
